// Variables SCSS
$accent: #d9534f;               // Couleur de fond du bouton principal
$accentHover: #c9302c;         // Couleur de fond du bouton principal au survol
$buttonSecondary: #28a745;     // Couleur de fond du bouton secondaire
$buttonSecondaryHover: #218838; // Couleur de fond du bouton secondaire au survol
$background: #ffffff;           // Couleur de fond principale
$secondaryBackground: #f2f2f2;  // Couleur de fond secondaire
$default: #212529;              // Couleur du texte général
$heading: #37373f;              // Couleur pour les titres
$surface: #ffffff;              // Couleur de surface pour les éléments séparés
$context: #ffc107;              // Couleur pour les promotions spéciales
$link: #8e74d5;                 // Couleur principale des liens
$linkHover: #a435d0;            // Couleur des liens au survol
$muted: #6c757d;
$default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Amatic SC",  sans-serif;
$nav-font: "Inter",  sans-serif;

/*----------------------------*/
/*-----------navbar-----------*/
/*----------------------------*/
.navbar-menu {
  li {
    position: relative; // Ajoutez position relative ici
    color: $link;
    transition: color 0.3s ease-in-out;
    font: $nav-font;
    font-weight: 500;

    // Exclure les liens du dropdown
    &:not(.dropdown li)::after {
      content: "";
      position: absolute;
      bottom: 0; // Déplacer l'animation juste en dessous du texte
      right: 0;
      width: 0;
      height: 2px;
      background-color: $accent;
      transition: width 0.3s ease-in-out;
    }

    &:hover {
      color: $linkHover;

      // Appliquer uniquement aux éléments qui ne sont pas dans le dropdown
      &:not(.dropdown li)::after {
        width: 100%;
        left: 0;
      }
    }
  }
}

/*hero title*/


/*----------------------------------------*/
/*------------Menu section----------------*/
/*----------------------------------------*/
.menu-buttons button.menu-btn-active{
  border-bottom: 3px solid $accent;
  color: $accent;
}

/*menu for small screen*/
.MenuSmallScreen{
  opacity: 0;
  transform: translateY(-20px);
  animation: small-screen-menu-anim 0.4s ease-out forwards;
}

@keyframes small-screen-menu-anim {
  to{
    opacity: 1;
    transform: initial;
  }
}

/* images */
// Animation pour les images du menu
@for $i from 1 through 3 {
  .img-menu-#{$i} {
    transform: translateY(40px) scale(0.9);
    opacity: 0;
    animation: menu-images-animation 0.5s ease-in-out 0.2s + ($i * 0.1s) forwards;
  }
}

@for $i from 1 through 4 {
  .card-#{$i} {
    transform: translateY(40px) scale(0.9);
    opacity: 0;
    animation: menu-images-animation 0.5s ease-in-out 0.2s + ($i * 0.1s) forwards;
  }
}

// Animation (dish body)
@for $i from 1 through 3 {
  .dish-body-#{$i} {
    transform: translateY(40px) scale(0.9);
    opacity: 0;
    animation: dish-body-animation 0.5s ease-in-out 0.3s + ($i * 0.2s) forwards;
  }
}

// Animation for dishes images in menu section
@keyframes menu-images-animation {
  to {
    opacity: 1;
    transform: initial;
  }
}

// Animation for dish body( price, ingredients ...)
@keyframes dish-body-animation {
  to {
    opacity: 1;
    transform: initial;
  }
}
/*----------------------------------------*/
/*------------ end Menu section----------------*/
/*----------------------------------------*/

